<% provide(:button_text, '更新する') %>

<div class="container text-center">
  <h2>記事の編集</h2>

  <div class="row mt-4">
    <div class="col-6 mx-auto text-start">
      <%= render 'form' %>
    </div>
  </div>
</div>
